{% extends 'SRP_MAIN/base.html' %}
{% block content %}
{% load static %}
<div class=" pt-5"></div>
<div class=" pt-4"></div>

{# <div class="container"> #}
  <section id="about_srp_section">
    <div class="container">
      <div class="row">
        <div class="col text-center py-5">
          <h1 class="display-4 text-dark">About Synthetic Robot Programs</h1>
          <p class="lead text-dark">The following Slides grant an overview about the system.</p>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="mx-auto">
    <iframe src="https://btude-my.sharepoint.com/personal/fabian_jonen_b-tu_de/_layouts/15/Doc.aspx?sourcedoc={ef123f47-5a3d-4e74-9ea1-dbe0f58d6442}&amp;action=embedview&amp;wdAr=1.7777777777777777" width="1186px" height="691px" frameborder="0">
      Dies ist ein eingebettetes
      <a target="_blank" href="https://office.com">
        Microsoft Office</a>
        -Dokument, unterstützt von
        <a target="_blank" href="https://office.com/webapps">Office</a>.
    </iframe>
  </div>
  </div>
{# </div> #}
{% endblock %}
