{% extends 'SRP_MAIN/base.html' %}
{% block content %}
{% load static %}
{# Intro #}
<div class=" pt-5">

</div>
<div class=" pt-4">

</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">New SRP</h1>
    <p class="lead">Create a new Synthetic Robot Program with ease.</p>

  </div>
</div>

{# Step1 #}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Step 1</h1>
    <p class="lead">Upload the Fitting Instruction</p>
    <p>Success! Continue with Step 2</p>
  </div>
</div>
{# Step2 #}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Step 2</h1>
    <p class="lead">Upload the Custom Database</p>
    <p>Success! Continue with Step 3</p>
  </div>
</div>
{# Step2 #}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Step 3</h1>
    <p class="lead">Use the generated cluster to create a Universal Robots Script File </p>
    <a class="btn btn-outline-success" href="{% url 'cluster_convert' %}" role="button">Create the UR-Script File</a>
    <a class="btn btn-outline-secondary" href="{% url 'cluster_connect' %}" role="button">Stream Directly To Robot</a>
  </div>
</div>
{# Step3 #}
{% endblock %}
